{{#each listProducts}}
<article class="container">
    <div class="card">
        <div class="contentBx">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <a href="#">Comprar Ahora</a>
        </div>
    </div>

</article>
{{/each}}